BasedOnStyle: Google
IndentWidth: 2
ContinuationIndentWidth: 2
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Attach
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AllowAllArgumentsOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakOpenParenthesis: 0
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: true
Cpp11BracedListStyle: true
